p {
    font-size: 1.25em;
}

img {
    width: 300px;
    height: 300px;
}

body {
    background-color: white
}

#stimulus {
    font-size: 100px
}

.correct {
    color: green;
    font-size: 40px;
}

.wrong {
    color: red;
    font-size: 40px;
}

.placeholder {
    color: white;
    font-size: 40px;
}

.formDiv {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startDiv {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning{
    margin-top: 10%;
}